<?xml version="1.0" ?>
<model>
    <name>restaurant_renato</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Renato Rodrigues</name>
        <email>renato.rodrigues.rfr@gmail.com</email>
    </author>
    <description>building of project 1</description>
</model>
